
@{
    ViewBag.Title = "WaterBorneDisease";
}

<!-- ======= Header ======= -->
<header id="header" class="header">
    <div class="container">

        <div id="logo" class="pull-left">
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="~/Home">Home</a></li>
                <li><a href="~/Home#news">News Feed</a></li>
                <li><a href="~/NormalHousehold">Water Harvest</a></li>
                <li><a href="~/WaterFootprint">Water Footprint</a></li>
                <li><a href="~/Prediction">Water Prediction Model</a></li>
                <li class="menu-has-children">
                    <a href="#">FAQs</a>
                    <ul>
                        <li><a href="~/Facts">Facts</a></li>
                        <li><a href="~/Facts/WaterBorneDisease">Water Borne Disease</a></li>
                    </ul>
                </li>
                <li><a href="~/Home#team">Team</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- End Header -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="facts">
        <div class="container" data-aos="fade-up">
            <div class="row about-container">

                <div class="col-lg-12 content order-lg-1 order-2">
                    <h1></h1>
                    <h2 class="title">What is Water Borne Disease?</h2>
                    <p>
                        Water-borne diseases are the ones caused by pathogenic microbes spread via contaminated water.

                        Transmission of these pathogens occurs while using infected water for drinking, food preparation, and washing clothes, among others. Many developing countries do not have proper water treatment plants, especially in the rural areas. In some places, the availability of water is so scarce that people have neither the time nor the money to afford the water purifiers or other water treatment mechanisms.

                        Majority of water-borne diseases worldwide mainly affect children due to poor hygiene and weak immunity. Most of these diseases are life-threatening. The knowledge of the different types of water-borne diseases has come to the forefront with the advent of globalization over the past few decades. Several pathogenic microorganisms which were previously unknown, have become the focus of major research in this field.

                        About 844 million people lack even a basic drinking-water service. In fact, approximately 159 million individuals are dependent on surface water, the World Health Organization (WHO) reports.

                        Additionally, at least 2 billion people utilize a drinking water source that is contaminated with feces. These water sources can transmit water-borne diseases, which have been linked to about 502,000 diarrheal deaths every year.
                    </p>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="title">Water-Borne Diseases and their Impact</h2>
                        <p class="description">The pathogenic microorganisms, their toxic exudates, and other contaminants together, cause serious conditions such as cholera, diarrhea, typhoid, amebiasis, hepatitis, gastroenteritis, giardiasis, campylobacteriosis, scabies, and worm infections, to name a few.</p>
                    </div>
                    <ol>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <h6 class="title">Diarrhea</h6>
                            <p class="description">The most common of all water-borne diseases, diarrhea, mainly affects children below five years of age. The symptoms include dizziness, dehydration, pale skin, and loss of consciousness in severe cases. It usually lasts for a couple of weeks and can turn out to be fatal if it goes untreated.</p>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <h6 class="title">Cholera</h6>
                            <p class="description">
                                It is mainly caused by bacteria named Vibrio cholerae via consumption of contaminated food or drinking water. The symptoms include diarrhea, vomiting, fever, and abdominal cramps. Cholera occurs predominantly in children, but can also affect adults. It possesses a mortality rate that is alarmingly high among the water-borne diseases.
                                People with a suppressed immunity, like those who are malnourished or infected with Human Immunodeficiency Virus (HIV), are at a heightened risk of death if they’re infected with the bacteria.
                            </p>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <h6 class="title">Typhoid</h6>
                            <p class="description">Typhoid fever is caused by Salmonella typhi bacteria transmitted via contaminated water. The patients typically suffer from prolonged episodes of fever, loss of appetite, nausea, headache, constipation, and loss of body weight. Prompt attention is needed to cure typhoid in the patient, as well as to prevent the spread of this contagious disease.</p>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <h6 class="title">Amoebiasis</h6>
                            <p class="description">It is caused by a parasite named Entamoeba histolytica. The protozoan organism is transmitted by unknowingly consuming cysts (an inactive form of the parasite) in food, and it affects the intestine. The parasite thrives on contaminated soil and fecal matter. The common symptoms of amoebiasis include abdominal cramps and watery stools.</p>
                        </div>
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <h6 class="title">Hepatitis A</h6>
                            <p class="description">This condition mainly affects the liver and is caused by Hepatitis A virus. The route of contamination is usually oral, while it also spreads through physical contact with an infected person. Hepatitis A patients manifest common symptoms such as fever, nausea, and vomiting, but can suffer severe complications if they’re not treated in time.</p>
                        </div>
                    </ol>
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="title">Transmission</h2>
                        <p class="description">
                            Climate change plays a crucial role in the outbreaks of such infections.
                            Major precipitation events such as heavy rains or snowfall increase the risk of the water-borne diseases. Several instances of the outbreak of epidemic infections after natural calamities such as flood have been recorded in history.
                            The overflowing of sewage treatment plants during floods becomes the immediate risk that needs to be curbed. On the other hand, drought-affected areas also become high-risk due to the accumulation of high concentration of pathogens in a limited amount of available water sources.
                            Natural calamities such as earthquakes or major cyclones often cause drastic changes in the ecosystem of the water bodies. Sometimes, the newly created environment (pH, temperature, etc.) is favorable for the growth of a particular type of pathogen. The unprocessed water from such sources becomes harmful for routine use due to the high microbial burden.
                            The mere negligence of the cleaning staff of water treatment plants can also cause huge damage to the community, especially in small towns where people do not have water purifiers installed in their homes.
                            Also, the persistent usage of contaminated water for agricultural purposes (due to lack of pure water in the area) results in the colonization of pathogens in the soil. Consuming crops in that particular area may predispose the residents to disease-causing microorganisms.
                        </p>
                    </div>
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="title">Mitigation and Prevention</h2>
                        <p class="description">
                            In affected individuals, antibacterial, anti-parasitic, or antiviral medications are used for treatment depending on the nature of the disease. However, common precautions to keep the surroundings hygienic can do wonders to stop the spread of these ailments. Additionally, maintaining personal hygiene also reduces the occurrence of water-borne diseases dramatically.
                            One should make sure that their drinking water should be filtered and purified. Also, the water used for cooking at home should also be equally pure. Being aware and mindful of the surroundings, avoiding street food (especially if the place of preparation is visibly dirty), and covering and storing the food safely at home are some basic tips for prevention of such diseases.
                            Governments of the countries with high incidence of water-borne diseases, often run health check-up and awareness campaigns. They educate and sensitize the communities about the risks and common precautions. Avoiding the water clogging (e.g., from rain) surrounding the houses is an important step to prevent water-borne diseases.
                            Apart from the precautions at an individual level, several other approaches including mass recycling of water and carbon sequestration are employed to control the water-borne diseases. Protecting the natural water sources and lands is another important strategy to combat climate change. Effective irrigation techniques have been developed by agricultural scientists for optimal usage of water during farming. Creation of “green spaces” and the responsible use of the natural resources are at the core of sustenance.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
            </div>

        </div>
    </section>
    <!-- End About Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer"></footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

